body {
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    
}

#flag-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 1000;
}

.flag {
    width: 40px;  /* Pas aan naar wens */
    position: absolute;
    
}

.titel {
    width: 70%;
    margin: 0 auto;
    padding-top: 10rem;
}

.fixed-logo {
    position: fixed; /* Zorgt ervoor dat het logo op dezelfde plek blijft terwijl de gebruiker scrollt */
    top: 20px; /* Afstand van de bovenkant van het scherm */
    right: 20px; /* Afstand van de rechterkant van het scherm */
    z-index: 4; /* Zorg ervoor dat het logo boven andere elementen blijft */
}

.fixed-logo img {
    width: 100px; /* Pas de grootte van het logo aan naar wens */
    height: auto; /* Houd de oorspronkelijke verhouding van het logo */
}

.customcursor {
    cursor: url(../assets/cursor.png), auto;
}

.customcursornl {
    cursor: url(../assets/nl-cursor.png), auto;
}



.name {
    text-align: center;
    height: 100vh;
}

.name h1 {
    padding-top: 45vh;
    font-size: 2.5rem;
}

.small {
    font-size: 0.8em;
    margin: 0.8em;
}    

.green {
    color: #abdf1d;
    display: inline;
}

header img {
   
    padding-top: 8em;
}

/* intro  */

.grid-container-intro {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Standaard één kolom */
    gap: 2rem;
    max-width: 80%;
    margin: 0 auto;
    

}

.grid-item-intro {
    border: #1C1C1C solid 1px;
    border-radius: 2rem;
    box-sizing: border-box;
    
    padding: 2em;
    text-align: center;
    
    
}

.grid-item-photo {
    border-radius: 2rem;
    box-sizing: border-box;
    background-image: url(../assets/Union2.png);
    filter: grayscale(100%);  
    height: 400px;
    background-repeat: no-repeat;
}

.grid-item-photo:hover {
    transition: 1s;
    filter: grayscale(0%); 
    
}


/* skills  */

.grid-container-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Standaard twee kolommen */
    gap: 1rem;
    max-width: 60%;
    margin: 0 auto;
}

.grid-item-skills {
    box-sizing: border-box;
    padding-top: 4em;
    text-align: center;
}

.grid-item-skillbox {
    display: grid;
    grid-template-columns: auto auto auto; /* Standaard drie kolommen */
    gap: 1rem;
}

.grid-item-skillbox p {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    border: var(--text-color-skills) solid 1px;
    color: var(--text-color-skills);
    border-radius: 2rem;
    padding: 0.5em
}

/* Media Queries voor responsiviteit */

/* Voor schermen kleiner dan 1024px */
@media (max-width: 1024px) {
    .grid-container-skills {
        grid-template-columns: repeat(2, 1fr); /* Twee kolommen */
    }

    .grid-item-skillbox {
        grid-template-columns: auto auto; /* Twee kolommen */
    }
}

/* Voor schermen kleiner dan 768px */
@media (max-width: 768px) {
    .grid-container-skills {
        grid-template-columns: 1fr; /* Eén kolom */
    }

    .grid-item-skillbox {
        grid-template-columns: auto; /* Eén kolom */
    }
}

/* Voor schermen kleiner dan 480px */
@media (max-width: 480px) {
    .grid-container-skills {
        grid-template-columns: 1fr; /* Eén kolom */
        max-width: 100%; /* Volledige breedte */
    }


}


.grid-item-skillbox p:hover {
    background-color: #B8EE20;
    color: black;
}



.grid-container-stats {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Standaard één kolom */
    gap: 2rem;
    padding-top: 6em;
    max-width: 70%;
    margin: 0 auto;
    

}

.grid-item-stats {
    border: #1C1C1C solid 1px;
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 2em;
    text-align: center;
    
    
}


/* projects  */



h1 {
    font-size: 6rem;
    text-align: center;
    padding: 1em;
}




/* media  */
@media (max-width: 900px) {
    

.fixed-logo {
    top: 35px; /* Afstand van de bovenkant van het scherm */
    right: 30px; /* Afstand van de rechterkant van het scherm */
   
}

.fixed-logo img {
    width: 70px; /* Pas de grootte van het logo aan naar wens */
    height: auto; /* Houd de oorspronkelijke verhouding van het logo */
}
}

/* Media query voor schermen tussen 768px en 1024px */
@media (max-width: 1024px) {
    .grid-container-intro {
        grid-template-columns: repeat(2, 1fr); 
        /* Twee kolommen */
    }

}

/* Media query voor schermen kleiner dan 768px */
@media (max-width: 768px) {

    .name h1 {
        font-size: 1.5rem;
    }


    .grid-container-intro {
        grid-template-columns: 1fr; /* Eén kolom */
    }

    .grid-container-skills {
        grid-template-columns: 1fr; /* Standaard één kolom */
    
    }

    .grid-container-stats {
        grid-template-columns: 0.8fr;
        max-width: 95%; /* Standaard één kolom */
        
    
    }

    .grid-container-skills {
        max-width: 80%;
        gap: 0.5rem;
        grid-template-columns: 1fr; /* Standaard één kolom */
        
    }

    .grid-item-skills {
        padding-top: 8rem;
    }

    h1 {
        font-size: 3rem;
    }


    .grid-container-skills {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .grid-item-skillbox {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container-work {
        width: 95%;
    }

    .grid-item-work {
       max-height: 50vh; 
    }
}



h2 {
    font-size: 4rem;
}




/* work */

.grid-container-work {
    display: grid;
    grid-template-columns: 1fr; /* Alle kolommen onder elkaar */
    gap: 3rem;
    padding: 2rem;
    padding-top: 8rem;
    width: 80%; /* Horizontaal 70% van het beeld vullen */
    margin: 0 auto; /* Centraal uitlijnen */
}

.grid-item-work {
    background-color: #1C1C1C;
    border-radius: 3rem;
    height: 90vh; /* Verhoudingsgewijze padding voor betere schaalbaarheid */
    box-sizing: border-box;
    color: white; /* Toevoegen van tekstkleur voor leesbaarheid */
    box-shadow: 0px 0px 10px 10px rgba(255, 253, 253, 0.07);
    position: relative; /* Nodig voor de overlay positioning */
    overflow: hidden; /* Zorgt ervoor dat de overlay niet buiten de container komt */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Donkere semi-transparante achtergrond */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.grid-item-work:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: white;
    font-size: 2rem; /* Pas de tekstgrootte aan naar wens */
    text-align: center;

}
.overlay-text p {
    font-size: 1.5rem;
    color: #B8EE20;
}

.grid-item-work img {
    border-radius: 3rem;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.grid-item-work:hover {
    transform: scale(1.05);
}


.grid-container-work h2 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}



/* about */


.about-button {
    height: 100vh;
}

.about-button h2 {
    padding-top: 40vh;
    text-align: center;
}





/* footer */

footer {
    border: #1C1C1C solid 1px;
    border-radius: 3rem;
    max-width: 70%;
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-item {
    padding: 1em;
    flex: 1;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
}

form {
    background: none;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 500px;
    align-items: center;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: white;
    background-color: #1C1C1C;
    border: none;
    border-radius: 0.25rem;
}

button {
    background-color:#B8EE20;
    color: black;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 3rem;
}

button:hover {
    background-color: #99d100;
}

#response-message {
    padding-left: 2rem;
    margin-top: 1rem;
}





/* light dark mode */

:root {
    --background-color: #000000;
    --text-color: #ffffff;
    --text-color-skills: #B8EE20;
}	

.dark {
    --background-color: #ebf0ec;
    --text-color: #000000;
    --text-color-skills: #000000;

    
  }
  


#submitBtn {
    background-color: #B8EE20;
    color: black;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 3rem;
    font-size: 0.8rem;
    width: fit-content;
    height: fit-content;
    margin: 2rem;
}



.social-container {
    position: fixed;
    top: 35%;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    z-index: 1;

}

.social-button {
    display: block;
    margin: 1rem 0;
    background-color: #B8EE20;
    border-radius: 50rem;
    padding: 0.75rem;
    text-align: center;
    width: 2.5rem;
}

.social-button:hover {
    background-color: #99d100;
}






/* Media Queries */
@media (max-width: 1200px) {
    .popup-content h4 {
        font-size: 3rem;
    }

    .popup-content .text {
        font-size: 1.5rem;
    }

    .close-btn {
        font-size: 5rem;
    }
}

@media (max-width: 768px) {
    .popup-content h4 {
        font-size: 2.5rem;
    }

    .popup-content .text {
        font-size: 1.25rem;
    }

    .close-btn {
        font-size: 4rem;
        top: 2rem;
        right: 2rem;
    }

    .social-button {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .popup-content h4 {
        font-size: 2rem;
    }

    .popup-content .text {
        font-size: 1rem;
    }

    .close-btn {
        font-size: 3rem;
        top: 1rem;
        right: 1rem;
    }
    
    .social-button {
        width: 80%;
        
    }
}

  


.kleinetekst {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}





/* Voeg zo veel vertragingen toe als je nodig hebt */


.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%; /* Stel een vaste hoogte in voor de container */
    overflow: hidden;
    margin: auto; /* Centraal uitlijnen */
}

.slide {
    display: none; /* Begin met alle slides verborgen */
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zorg ervoor dat de afbeelding goed past */
}

.fade {
    animation: fade 1.5s ease-in-out;
}

@keyframes fade {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

h6 {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: 1rem;
}