body {
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
}

h1 {
    font-size: 6rem;
    text-align: center;
    padding: 1em;
}

h2 {
    font-size: 4rem;
}

.customcursor {
    cursor: url(../assets/cursor.png), auto;
}

.customcursornl {
    cursor: url(../assets/nl-cursor.png), auto;
}

.social-container {
    position: fixed;
    top: 35%;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    z-index: 1;

}

.social-button {
    display: block;
    margin: 1rem 0;
    background-color: #B8EE20;
    border-radius: 50rem;
    padding: 0.75rem;
    text-align: center;
    width: 2.5rem;
}

.social-button:hover {
    background-color: #99d100;
}

.video-container {
    width: 50%;
    height: auto;
    margin: 0 auto;
    position: relative;
    
}
#unseen-world-video {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    font-family: "Inter", sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    padding: 1em;
}

nav ul li a:hover {
    background-color: #B8EE20;
    border-radius: 10rem;
    color: black;
}

.hire {
    border: #B8EE20 solid 1px;
    border-radius: 10rem;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    position: absolute;
    left: 30px;
}

.name {
    text-align: center;
    height: 100vh;
}

.name h1 {
    padding-top: 40vh;
    font-size: 2.5rem;
}

.small {
    font-size: 0.8em;
    margin: 0.8em;
}    

.green {
    color: #abdf1d;
    display: inline;
}

header img {
   
    padding-top: 8em;
}

/* intro  */

.grid-container-intro {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 80%;
    margin: 0 auto;
}

.grid-item-intro {
    border: #1C1C1C solid 1px;
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 2em;
    text-align: center;   
}

.grid-item-photo {
    border-radius: 2rem;
    box-sizing: border-box;
    background-image: url(../assets/Union2.png);
    filter: grayscale(100%);  
    height: 400px;
    background-repeat: no-repeat;
}

.grid-item-photo:hover {
    transition: 1s;
    filter: grayscale(0%);    
}


/* skills  */

.grid-container-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
    max-width: 60%;
    margin: 0 auto;
}

.grid-item-skills {
    box-sizing: border-box;
    padding-top: 3em;
    text-align: center;
}

.grid-item-skillbox {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.grid-item-skillbox p {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    border: var(--text-color-skills) solid 1px;
    color: var(--text-color-skills);
    border-radius: 2rem;
    padding: 0.5em
}

.grid-item-skillbox p:hover {
    background-color: #B8EE20;
    color: black;
}

/* stats  */

.grid-container-stats {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
    padding-top: 6em;
    max-width: 70%;
    margin: 0 auto;
}

.grid-item-stats {
    border: #1C1C1C solid 1px;
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 2em;
    text-align: center;  
}


/* work  */

.grid-container-work {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 3rem;
    padding: 2rem;
    padding-top: 8rem;
    width: 70%; 
    margin: 0 auto; 
}

.grid-item-work {
    background-color: #1C1C1C;
    border-radius: 3rem;
    height: 70vh; 
    box-sizing: border-box;
    color: white; 
    box-shadow: 0px 0px 10px 10px rgba(255, 253, 253, 0.07);
    position: relative; 
    overflow: hidden; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.grid-item-work:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: white;
    font-size: 2rem; 
    text-align: center;

}
.overlay-text p {
    font-size: 1.5rem;
    color: #B8EE20;
}

.grid-item-work img {
    border-radius: 3rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grid-item-work:hover {
    transform: scale(1.05);
}

.grid-container-work h2 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

/* footer */

footer {
    border: #1C1C1C solid 1px;
    border-radius: 3rem;
    max-width: 70%;
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    
}

.footer-item {
    padding: 1em;
    flex: 1;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
}

form {
    background: none;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 500px;
    align-items: center;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: white;
    background-color: #1C1C1C;
    border: none;
    border-radius: 0.25rem;
}

button {
    background-color:#B8EE20;
    color: black;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 3rem;
}

button:hover {
    background-color: #99d100;
}

#response-message {
    padding-left: 2rem;
    margin-top: 1rem;
}

/* toggle */
.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    position: relative;
    height: 4rem; 
    width: 8rem; 
    border-radius: 4rem; 
    background-color: #151516;
    box-shadow: 0px 0px 5px 5px rgba(255, 253, 253, 0.07); 
    transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
    background-color: white
}

.toggle-button {
    transform: translate(4.5rem, 0.5rem); 
    position: absolute;
    height: 3rem; 
    width: 3rem;
    border-radius: 50%;
    background-color: #B8EE20;
    box-shadow: inset 0px 0px 0px 0.375rem #91bd18; 
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #91bd18;
    box-shadow: inset 0px 0px 0px 0.375rem #B8EE20; 
    transform: translate(0.5rem, 0.5rem); 
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(1rem, 1rem) rotate(0deg); 
}

/* light dark mode */

:root {
    --background-color: #000000;
    --text-color: #ffffff;
    --text-color-skills: #B8EE20;
}	

.dark {
    --background-color: #ebf0ec;
    --text-color: #000000;
    --text-color-skills: #000000;
  }
  


  .flatpickr-calendar {
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #B8EE20;
    color: white;
}

.flatpickr-day.selected {
    background-color: #1C1C1C;
    border: none;
    color: white;
}

#submitBtn {
    background-color: #B8EE20;
    color: black;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 3rem;
    font-size: 0.8rem;
    width: fit-content;
    height: fit-content;
    margin: 2rem;
}

/* toggle geleend en aangepast van externe site  */

/* Popup container - hidden by default */
.popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Popup content */
.popup-content {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.popup-content h4 {
    font-size: 4rem;
    color: #B8EE20;
    padding: 1rem;
}

.popup-content .text {
    font-size: 2rem;
    padding: 1rem;
    padding-top: 2rem;
    max-width: 80%;
}

/* Close button */
.close-btn {
    color: #ffffff;
    font-size: 6rem;
    font-weight: bold;
    position: absolute;
    top: 3rem;
    right: 4rem;
}

.close-btn:hover,
.close-btn:focus {
    color: #B8EE20;
    text-decoration: none;
    cursor: pointer;
}


/* Algemene stijlen die voor alle schermen gelden */

/* Media query voor schermen kleiner dan 480px */
@media (max-width: 480px) {
    .name h1 {
        font-size: 1.5rem;
    }

    .grid-container-intro {
        grid-template-columns: 1fr; /* Eén kolom */
    }

    .grid-container-skills {
        grid-template-columns: 1fr; /* Eén kolom */
        gap: 0.5rem;
        max-width: 100%; /* Volledige breedte */
    }

    .grid-item-skills {
        padding-top: 8rem;
    }

    .grid-item-skillbox {
        grid-template-columns: auto; /* Eén kolom */
    }

    .popup-content h4 {
        font-size: 2rem;
    }

    .popup-content .text {
        font-size: 1rem;
    }

    .close-btn {
        font-size: 3rem;
        top: 1rem;
        right: 1rem;
    }

    .grid-container-work {
        width: 95%;
    }
}

/* Media query voor schermen tussen 480px en 768px */
@media (max-width: 768px) {
    .name h1 {
        font-size: 3rem;
    }

    .grid-container-intro {
        grid-template-columns: 1fr; /* Eén kolom */
    }

    .grid-container-skills {
        grid-template-columns: 1fr; /* Eén kolom */
        gap: 0.5rem;
        max-width: 80%; /* 80% breedte */
    }

    .grid-item-skills {
        padding-top: 8rem;
    }

    .grid-item-skillbox {
        grid-template-columns: auto; /* Eén kolom */
    }

    .popup-content h4 {
        font-size: 2.5rem;
    }

    .popup-content .text {
        font-size: 1.25rem;
    }

    .close-btn {
        font-size: 4rem;
        top: 2rem;
        right: 2rem;
    }

    .grid-container-work {
        width: 95%;
    }
}

/* Media query voor schermen tussen 768px en 1024px */
@media (max-width: 1024px) {
    .grid-container-intro {
        grid-template-columns: repeat(2, 1fr); /* Twee kolommen */
    }

    .grid-container-skills {
        grid-template-columns: repeat(2, 1fr); /* Twee kolommen */
    }

    .grid-item-skillbox {
        grid-template-columns: auto auto; /* Twee kolommen */
    }
}

/* Media query voor schermen kleiner dan 1200px */
@media (max-width: 1200px) {
    /* Voeg hier eventuele specifieke stijlen toe voor schermen kleiner dan 1200px */
}

/* Media query voor schermen kleiner dan 900px */
@media (max-width: 900px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 80%;
        height: 100%;
        background-color: #1C1C1C;
        position: absolute;
        left: 0;
        top: 0;
        padding: 50px 0;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 25px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .popup-content h4 {
        font-size: 3rem;
    }

    .popup-content .text {
        font-size: 1.5rem;
    }

    .close-btn {
        font-size: 5rem;
    }
}
